:root {
    --vt-c-indigo: #213547;
    --vp-c-text-1: var(--vt-c-indigo);
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif!important;
}

/* 导航栏样式 */
.VPNavBarMenuLink {
    font-size: 13px !important;
}

.VPMenuLink .link {
    font-size: 13px;
    line-height: 28px;
}

.text {
    font-size: 13px !important;
}

/* 页面导航样式 */
.outline-link {
    font-size: 13px !important;
    line-height: 28px;
}

/* 文档样式 */
.vp-doc a {
    text-decoration: none!important;
}

.vp-doc img {
    margin: 0px auto;
}

