:root {
    --vt-c-indigo: #213547;
    --vp-c-text-1: var(--vt-c-indigo);
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-bg: var(--vp-c-bg-soft);
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif!important;
}

/* 导航栏样式 */
.VPNavBarMenuLink {
    font-size: 13px !important;
}

.VPMenuLink .link {
    font-size: 13px;
    line-height: 28px;
}

.text {
    font-size: 13px !important;
}

/* 页面导航样式 */
.outline-link {
    font-size: 13px !important;
    line-height: 28px;
}

/* 文档样式 */
.vp-doc a {
    text-decoration: none!important;
}

.vp-doc img {
    margin: 0px auto;
}

/* 提示 */
.vp-doc .custom-block {
    position: relative;
    padding: 20px 24px 4px 42px;
}

.vp-doc .custom-block:before {
    content: "ⓘ";
    position: absolute;
    font-weight: 600;
    font-size: 15px;
    top: 20px;
    left: 17px
}

.vp-doc .custom-block.tip:before {
    color:  var(--vp-c-brand);
}

/** 图片缩放样式 **/
.medium-zoom-overlay {
    z-index: 40;
}
.medium-zoom-image--opened {
    z-index: 50;
}